
.container {
        padding-top: 96px;
        padding-bottom: 96px;
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
}
.all-points {
        text-align: center;
        display: block;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        margin-bottom: 8px;
        
}

.our-goal {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0px;
        width: 100%;
        
        
}
.underlist-our-team {
        flex-wrap: wrap;
        gap: 72px;
        margin-right: 24px;
        padding-left: 0%;
}
.input-footer {
        width: 100%;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
}

.footer-container {
        flex-direction: column;
        align-items: center;
}

.form-footer {
        flex-direction: column;
        align-items: center;
}

.un-clients-customers {
        padding-left: 0px;
}
.menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
}

.menu-container.is-open {
        transform: translateX(0);
}

.all-points {
        display: block;
        align-items: center;
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 1.7;
        color: var(--accent-color);
        text-align: center;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.our-goal {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0px;
        width: 264px;

        width: 100%;
}

.underlist-our-team {
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        
        padding-left: 0%;
        
}

.footer-container {
        flex-direction: column;
}

.un-soc {
        display: flex;
}

.text-paragraph-footer {
        max-width: 264px;
}

.paragraph-footer-subscribe {
        text-align: center;
}

.form-footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
}

.positione-icons {
        display: none;
}

.underlist {
        flex-wrap: wrap;
}

.footer-container {
        flex-direction: column;
}

.send-footer {
}

.label-footer {
        width: 100%;
}

.menu-container.closed {
        display: none;
}

.address-points-js {
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.mobile-menu {
        list-style: none;
}

.js-adress {
        list-style: none;

        margin-bottom: 100px;
}
.section-style-esyb {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
}

.js-adress {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
}

.mobile-menu {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
}
.link-mobile {
        color: #2e2f42;
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.section-style-our-adv {
        padding: 96px 0px 96px 0px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 96px;
}

.adress-container {
        flex-direction: column;
        
}
.adress-container-link-mobile {
        margin-top: auto;
}

.soc-itfl-mobile {
        width: 40px;
        height: 40px;
        list-style: none;
}

.un-soc-mobile {
        display: flex;

        gap: 40px;
        padding-left: 0;
        margin-bottom: auto;
       
}


.element.style {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.web-header-footer {
        color: var(--title-color);
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
        text-align: center;
        display: flex;
}

.logo-paragraph {
        display: flex;
        align-items: center;
        flex-direction: column;
}

.web-header-footer {
        text-align: center;
}

.address {
        display: none;
}

.un-clients-customers {
        display: flex;
        flex-wrap: nowrap;
        gap: 72px 16px;
        padding-left: 0;
        margin: 0;
}

.list-customers {
        width: calc((100% - 16px) / 2);
        height: 88px;
        list-style: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile-s {
        color: #404BBF;
     ;
                font-size: 36px;
                font-family: Roboto;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.72px;
                text-transform: capitalize;
}

@media (max-width: 768px) {
        .container {
                margin-left: auto;
                margin-right: auto;
                max-width: 428px;
        }
        .elements-list {
                display: flex;
                flex-wrap: wrap;
                width: 396px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
        }

        .all-points {
                align-items: center;
                font-weight: 700;
                font-size: 36px;
                line-height: 1.7;
                letter-spacing: 0.02em;
                color: var(--accent-color);
                margin-bottom: 8px;
        }

        .our-goal {
                font-size: 16px;
                font-family: Roboto;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.32px;
        }

        .input-footer {
                width: 264px;
        }

        .un-soc {
                display: flex;
        }

        .paragraph-soc-footer {
        }

        .paragraph-footer-subscribe {
                text-align: left;
        }

        .web-header-footer {
        }

        .text-paragraph-footer {
               
        }

        .form-footer {
                flex-direction: row;
                align-items: center;
        }

        .button-subcribe-footer {
                display: flex;
        }
        .button-mobile {
            position: absolute;
            right: 24px;
            top: 0;
            background: transparent;
            border: none;
            padding-top: 24px;
            padding-bottom: 24px;
        }


                .effective-solutions-for-your-business {
                        font-size: 36px;
                        line-height: 1.07;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: var(--background-color);
                        max-width: 496px;
                        display: block;
                        align-items: center;
                        margin-left: auto;
                        margin-right: auto;
                        margin-right: auto;
                        margin-bottom: 48px;
                        margin-left: auto;
                }




        .positione-icons {
                display: none;
        }

        .underlist {
                flex-wrap: wrap;
        }

        .footer-container {
                flex-direction: column;
                gap: 72px 24px;
        }

        .un-clients-customers {
                display: flex;
                flex-direction: row;
                    flex-wrap: nowrap;
                flex-wrap: wrap;
        }

        .menu-container.closed {
                display: none;
        }

        .address-points-js {
                font-size: 25px;
                font-family: Roboto;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.72px;
                text-transform: capitalize;
        }

        .mobile-menu {
                padding-left: 0;
                list-style: none;
        }

        .js-adress {
                list-style: none;

                margin-bottom: 100px;
        }
        .menu-container {
                padding: 80px 45px 40px 40px;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateX(100%);
                transition: transform 250ms ease-in-out;
        }
        .menu-style-positione-address {
                display: flex;
        }
        .menu-toggle {
                border-radius: 24px;
                border: 1px solid #2e2f42;
                opacity: 0.10000000149011612;
                background: #99999c;
                margin-right: 24px;
                margin-top: 24px;
                margin-left: 380px;
        }
        .un-soc {
                display: flex;
        }

         .modal-window{
                width: calc(100% - 30px);
         }
    .section-style-esyb {
            background-color: var(--accent-color);
            padding-top: 112px;
            padding-bottom: 112px;
            max-width: 1158px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-1-mob.jpg);
            margin-right: auto;
            margin-left: auto;
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
            .section-style-esyb {
                    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)), url(../images/people-office-1-mob-2x.jpg);
            }
    }

    
         
}
@media screen and (max-width: 767px) {
        .form-footer {
                display: flex;
                flex-direction: column;
        }
        .paragraph-soc-footer {
                text-align: center;
        }
        .paragraph-footer-subscribe {
                text-align: center;
        }
        .input-footer {
                width: 100%;
        }
        .label-footer {
                width: 100%;
        }
        .form-footer {
                width: 100%;
        }
        .send-footer {
                width: 100%;
        }
        .team-container {
                max-width: 296px;
        }
}
@media (min-width: 768px) {
        .container {
                max-width: 768px;
                padding: 0 15px;
                margin: auto;
        }
        .elements-list {
                display: flex;
                flex-wrap: wrap;
                width: calc((100% - 24px) / 2);
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
        }
        .menu-container {
                display: none;
        }

        .all-points {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.7;
                letter-spacing: 0.02em;
                color: var(--accent-color);
                margin-bottom: 8px;
                text-align: left;
                margin-left: unset;
                margin-right: unset;
        }
        .team-container {
                max-width: 584px;
        }
        .points-name {
                width: calc((100% - 24px) / 2);
        }
        .customers-container {
                max-width: 584px;
        }
        .list-customers {
                width: calc((100% - 48px) / 3);
        }
        .send-footer {
                width: unset;
        }
        .form-footer {
                flex-direction: row;
        }
        .input-footer {
                width: 264px;
        }

        .footer-container {
                gap: 72px 24px;
        }
        .paragraph-footer-subscribe {
                text-align: left;
        }
        .logo-paragraph {
                align-items: flex-start;
                
        }
        .our-goal {
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                margin: 0px;
                width: 264px;

                width: 100%;
        }
        .underlist-our-team {
                display: flex;
                flex-wrap: wrap;
                gap: 72px 24px;

                padding-left: 0%;
                padding-bottom: 72px;
        }

        .section-style-esyb {
                background-color: var(--accent-color);
                padding-top: 112px;
                padding-bottom: 112px;
                max-width: 1158px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: linear-gradient(
                                rgba(46, 47, 66, 0.7),
                                rgba(46, 47, 66, 0.7)
                        ),
                        url(../images/people-office-1-min-tab.jpg);
                margin-right: auto;
                margin-left: auto;
        }


                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                        .section-style-esyb {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                                rgba(46, 47, 66, 0.7)), url(../images/people-office-1-mob-2x.jpg);
                        }
                }

        .menu-style-positione {
                display: flex;
        }

        .button-mobile {
                display: none;
        }

        .text-paragraph-footer {
        }

        .web-header-footer {
                
        }

        .un-soc {
                display: flex;
        }

        .address {
                display: flex;
                flex-direction: column;
        }

        .menu-style-positione {
                display: flex;
        }
        .menu-style-positione-address {
                flex-direction: column;
                gap: 12px;
        }
        .soc-positione {
        }
        .footer-container {
                flex-wrap: wrap;
                flex-direction: row;
                max-width: 584px;
                align-items: flex-start;
        }
        t .form-footer {
                flex-direction: row;
        }



                .effective-solutions-for-your-business {
                        font-size: 56px;
                        line-height: 1.07;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: var(--background-color);
                        max-width: 496px;
                        display: block;
                        align-items: center;
                        margin-left: auto;
                        margin-right: auto;
                        margin-right: auto;
                        margin-bottom: 48px;
                        margin-left: auto;
                }




}

@media (min-width: 1158px) {
        .container {
                max-width: 1158px;
                padding: 0 15px;
                margin: 0 auto;
        }

        .elements-list {
                display: flex;
                flex-wrap: wrap;
                width: calc((100% - 24px) / 2);
                flex-direction: row;
                align-items: flex-start;
                
        }

        .all-points {
                text-align: left;
                display: block;
                align-items: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
        }

        .our-goal {
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                margin: 0px;
                width: 264px;
                height: 72px;
               
                width: 100%;
        }

        .underlist-our-team {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
                margin-right: 24px;
                padding-left: 0%;
                padding-bottom: 72px;
        }



                .section-style-esyb {
                        background-color: var(--accent-color);
                        padding-top: 188px;
                        padding-bottom: 188px;
                        max-width: 1440px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                        rgba(46, 47, 66, 0.7)),
                                url(../images/people-office-1-min.jpg);
                        margin-right: auto;
                        margin-left: auto;
                }



        .paragraph-footer-subscribe {
        }

        .send-footer {
                width: unset;
        }

        .menu-style-positione {
                display: flex;
        }

        .button-mobile {
                display: none;
        }
        .menu-container {
                display: none;
        }

        .our-advant {
                flex-wrap: nowrap;
        }

        .underlist-our-team {
                flex-wrap: nowrap;
        }

        .menu-style-positione-address {
                flex-direction: row;
                gap: 40px;
        }

        .positione-icons {
                display: flex;
                height: 112px;
                width: 264px;
        }

.effective-solutions-for-your-business {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--background-color);
        max-width: 496px;
        display: block;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-right: auto;
        margin-bottom: 48px;
        margin-left: auto;
}


.logo-paragraph{
        margin-right: 120px;
}


.soc-positione{
        margin-right: 80px;
}

}

.section-style-what-arer-we-doing {
        display: none;
}

.menu-toggle {
        border-radius: 24px;
        border: 1px solid #2e2f42;
        opacity: 0.10000000149011612;
        background: #99999c;
        margin-right: 24px;
        margin-top: 24px;
        margin-left: 380px;
}
.close-js {
        fill: #2e2f42;
}

.js-adress {
        padding-left: 0;
        list-style: none;
}


