@media (min-width: 320px) and (max-width: 428px){
    
    .section-style-esyb {
            background-color: var(--accent-color);
            padding-top: 188px;
            padding-bottom: 188px;
            max-width: 1440px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1-min.jpg);
            margin-right: auto;
            margin-left: auto;
    
        }
    
    .container {
    
    
            height: 70px;
            flex-shrink: 0;
            border-bottom: 1px solid var(--cornflower, #E7E9FC);
            background: var(--white, #FFF);
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    
        }
    
        .all-points {
            text-align: center;
            display: block;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--accent-color);
            margin-bottom: 8px;
            padding-bottom: 8px;
    
        }
    
        .our-goal {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin: 0px;
            width: 100%;
            height: 72px;
            padding-bottom: 72px;
    
    
    
        }
    
        .underlist-our-team {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-right: 24px;
            padding-left: 0%;
            padding-bottom: 72px;
            
    
    
        }
    
    
        .footer-container {
            flex-direction: column;
        }
    
        .form-footer {
            margin-left: 15px;
            flex-direction: column;
            align-items: center;
        }
    
        .un-clients-customers {
           
            margin: 16px;
            
            padding-right: 16px;
        }
    .button-mobile {
        background: transparent;
        border: none;
        padding-top: 24px;
        padding-bottom: 24px;
    }
        .menu-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(100%);
            transition: transform 250ms ease-in-out;
        }
    
        .menu-container.is-open {
            transform: translateX(0);
        }

                .positione-icons {
                    display: none;
                }
        
                .underlist {
                    flex-wrap: wrap;
                }
        
        
                .footer-container {
                    flex-direction: column;
                }
        
                .close-js {
                    border: none;
                }
        
        
        
                .menu-container.closed {
                    display: none;
                }
        
        
                .address-points-js {
                    font-size: 36px;
                    font-family: Roboto;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: 0.72px;
                    text-transform: capitalize;
                }
        
                .mobile-menu {
                    list-style: none;
        
                }
        
        
                .js-adress {
                    list-style: none;
        
                    margin-bottom: 100px;
                }
                                .paragraph-footer-subscribe {
                
                                    margin-left: 100px;
                                    margin-top: 72px;
                                }

           
}



@media (min-width: 428px){
.container{
        
        
        height: 70px;
        flex-shrink: 0;
        border-bottom: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

        }
                .all-points {
                    text-align: center;
                    display: block;
                    align-items: center;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: var(--accent-color);
                    margin-bottom: 8px;
                    padding-bottom: 8px;
        
                }
        
                .our-goal {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    margin: 0px;
                    width: 100%;
                    height: 72px;
                    padding-bottom: 72px;
        
        
        
                }
.underlist-our-team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: 24px;
    padding-left: 0%;
    padding-bottom: 72px;
    margin: 82px;


}


.footer-container{
flex-direction: column;
}

.form-footer {
    margin-left: 15px;
    flex-direction: column;
    align-items: center;
}

.un-clients-customers{
    width: calc(100%-16px)/6;
    margin: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}
 .container {



     height: 70px;
     flex-shrink: 0;
     border-bottom: 1px solid var(--cornflower, #E7E9FC);
     background: var(--white, #FFF);
     box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
         0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

 }

 .all-points {
     text-align: center;
     display: block;
     align-items: center;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: var(--accent-color);


 }

 .our-goal {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     margin: 0px;
     width: 264px;
     height: 72px;
     margin-bottom: 72px;
     width: 100%;



 }

 .underlist-our-team {
     display: flex;
     flex-wrap: wrap;
     gap: 24px;
     margin-right: 24px;
     padding-left: 0%;
     padding-bottom: 72px;
     margin: 82px;


 }

 .footer-container {
     flex-direction: column;
 }

 .paragraph-footer-subscribe {
     margin-left: 176px;

 }

 .un-soc {
     display: flex;
     margin-left: 110px;
 }

 .text-paragraph-footer {
     margin-left: 80px;
 }

 .paragraph-soc-footer {
     margin-left: 166px;
 }

 .paragraph-footer-subscribe {
     margin-left: 176px;
 }

 .form-footer {
     margin-left: 15px;
     flex-direction: column;
     align-items: center;
 }

 .positione-icons {
     display: none;
 }

 .underlist {
     flex-wrap: wrap;
 }


 .footer-container {
     flex-direction: column;
 }

 .close-js {
     border: none;
 }



 .menu-container.closed {
     display: none;
 }


 .address-points-js {
     font-size: 36px;
     font-family: Roboto;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: 0.72px;
     text-transform: capitalize;
 }

 .mobile-menu {
     list-style: none;

 }


 .js-adress {
     list-style: none;

     margin-bottom: 100px;
 }

}



  
   



@media (min-width: 429px) and (max-width: 768px) {

   
    .container{
    
            
            height: 70px;
            flex-shrink: 0;
            border-bottom: 1px solid var(--cornflower, #E7E9FC);
            background: var(--white, #FFF);
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    }
    .elements-list{
        display: flex;
        flex-wrap: wrap;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    }

        .all-points {
            text-align: center;
            display: block;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--accent-color);
            margin-bottom: 8px;
    
        }

                 .our-goal {
             font-size: 16px;
             line-height: 1.5;
                     letter-spacing: 0.02em;
              margin: 0px;
             width: 264px;
             height: 72px;
             margin-bottom: 72px;
             width: 100%;



         }
                 .underlist-our-team {
                     display: flex;
                     flex-wrap: wrap;
                     gap: 24px;
                     margin-right: 24px;
                     padding-left: 0%;
                     padding-bottom: 72px;
                     margin: 82px;
        
        
                 }
                 .footer-container {
                     flex-direction: column;
                 }


                 .un-soc {
                     display: flex;
                     margin-left: 110px;
                 }

                 
                
                 .paragraph-soc-footer {
                     margin-left: 166px;
                 }
                    
                .paragraph-footer-subscribe{
                    
                    margin-left: 100px;
                    margin-top: 72px;
                }

                .web-header-footer{
                    margin-bottom: 18px;
                    margin-top: 97px;
                }


                .text-paragraph-footer{
                    margin-bottom: 72px;
                }

                .form-footer{
                    margin-left: 15px;
                    flex-direction: column;
                    align-items: center;
                }


                .button-subcribe-footer{
                    display: flex;
                    
                }
             .button-mobile {
                 background: transparent;
                 border: none;
                 padding-top: 24px;
                 padding-bottom: 24px;
             }

.positione-icons {
    display: none;
}

.underlist {
    flex-wrap: wrap;
}


.footer-container {
    flex-direction: column;
}

.close-js {
    border: none;
}



.menu-container.closed {
    display: none;
}


.address-points-js {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu {
    list-style: none;

}


.js-adress {
    list-style: none;

    margin-bottom: 100px;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}


}

@media (min-width: 769px) and (max-width: 1158px) {


        .elements-list {
            display: flex;
            flex-wrap: wrap;
            width: 396px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

                .all-points {
                    text-align: center;
                    display: block;
                    align-items: center;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: var(--accent-color);
                    margin-bottom: 8px;
        
                }

             .our-goal {
                 font-size: 16px;
                 line-height: 1.5;
                 letter-spacing: 0.02em;
                 margin: 0px;
                 width: 264px;
                 height: 72px;
                 margin-bottom: 72px;
                 width: 100%;   
       }
           .underlist-our-team {
               display: flex;
               flex-wrap: wrap;
               gap: 24px;
               margin-right: 24px;
               padding-left: 0%;
               padding-bottom: 72px;
              ;
    
    
           }

           .menu-style-positione{
            display: flex;
           }

           .button-mobile{
            display: none;
           }
           
                  .text-paragraph-footer {
                      margin-bottom: 72px;
                  }

           .web-header-footer{
            margin-left: 108px;
            margin-top: 98px;
            margin-bottom: 338px;
            padding-bottom: 18px;
           }

}

@media (min-width: 1159px) {

    
   
    .elements-list{
        display: flex;
        flex-wrap: wrap;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    }

        .all-points {
            text-align: center;
            display: block;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--accent-color);
            margin-bottom: 8px;
    
        }

               .our-goal {
                   font-size: 16px;
                   line-height: 1.5;
                   letter-spacing: 0.02em;
                   margin: 0px;
                   width: 264px;
                   height: 72px;
                   margin-bottom: 72px;
                   width: 100%;



                           }



                .underlist-our-team {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;
                    margin-right: 24px;
                    padding-left: 0%;
                    padding-bottom: 72px;
                    
        
        
                }

        .paragraph-footer-subscribe {
                
            margin-left: 100px;
            margin-top: 72px;
        }
                        
                        
                        
    }







