



@media (min-width: 428px){
.container{
        padding-top: 96px;
        padding-bottom: 96px;
        max-width: 320px;
        padding: 0 16px;
            margin: 0 auto;
        
        
       
        

        }
                .all-points {
                    text-align: center;
                    display: block;
                    align-items: center;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: var(--accent-color);
                    margin-bottom: 8px;
                    padding-bottom: 8px;
        
                }
        
                .our-goal {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    margin: 0px;
                    width: 100%;
                    height: 72px;
                    padding-bottom: 72px;
        
        
        
                }
.underlist-our-team {

    flex-wrap: wrap;
    gap: 72px;
    margin-right: 24px;
    padding-left: 0%;
    
   


}
.input-footer {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;

}


.footer-container{
flex-direction: column;
align-items: center;

}

.form-footer {
   
    flex-direction: column;
    align-items: center;
}

.un-clients-customers{
    
    
    padding-left: 0px;
    
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
        flex-direction: column;
        background-color: #ffffff;
}

.menu-container.is-open {
    transform: translateX(0);
}
 

 .all-points {
    
     display: block;
     align-items: center;
     font-size: 36px;
     font-family: Roboto;
     font-weight: 700;
     line-height: 1.7;
     color: var(--accent-color);
     text-align: center;     
    letter-spacing: 0.72px;
    text-transform: capitalize;


 }

 .our-goal {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     margin: 0px;
     width: 264px;
    
     width: 100%;



 }

 .underlist-our-team {
     display: flex;
     flex-wrap: wrap;
     gap: 72px;
     margin-right: 24px;
     padding-left: 0%;
     padding-bottom: 72px;
     margin: 82px;


 }

 .footer-container {
     flex-direction: column;
 }

 

 .un-soc {
     display: flex;
     
 }

 .text-paragraph-footer{
    margin-left: 40px;
    max-width: 264px;
 }

 

 .paragraph-footer-subscribe {
     text-align: center;
 }

 .form-footer {
     width: 100%;
     flex-direction: column;
     align-items: center;
 }

 .positione-icons {
     display: none;
 }

 .underlist {
     flex-wrap: wrap;
 }


 .footer-container {
     flex-direction: column;
     
 }

 .send-footer{
    width: 100%;
 }

 .label-footer{
    width: 100%;
 }

 



 .menu-container.closed {
     display: none;
 }


 .address-points-js {
     font-size: 36px;
     font-family: Roboto;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: 0.72px;
     text-transform: capitalize;
 }

 .mobile-menu {
     list-style: none;


 }


 .js-adress {
     list-style: none;

     margin-bottom: 100px;
 }
 .section-style-esyb{
margin-right: auto;
    margin-left: auto;
    width: 100%;
 }
 
 .js-adress{
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        
 }

 .mobile-menu{
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
 }
 .link-mobile{
    color: #2E2F42;
    font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
 }

.section-style-our-adv{
    
        
        padding: 96px 0px 0px 0px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 96px;
}

.adress-container{
    flex-direction: column;
    margin-top: auto;
    
}
.adress-container-link-mobile{
    margin-top: auto;
}

.soc-itfl-mobile{
    width: 40px;
        height: 40px;
        list-style: none;
}


.un-soc-mobile{
    display: flex;
    
        gap: 56px;
        padding-left: 0;
        margin-bottom: auto;
        margin-left: 40px;
}

.effective-solutions-for-your-business{
    max-width: 320px;
    margin-bottom: 72px;
    color: var(--white, #FFF);
        text-align: center;
      
        font-size: 36px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.element.style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-header-footer{
    
            color: var(--title-color);
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 16px;
            text-align: center;
            display: flex;
    
    
        }

.logo-paragraph{
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.web-header-footer{
    text-align: center;
}


}








  
   



@media (max-width: 768px) {

   
    .container{
    
            max-width: 768px;
            
    }
    .elements-list{
        display: flex;
        flex-wrap: wrap;
    width: 396px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    }

        .all-points {
            
            
            align-items: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.7;
            letter-spacing: 0.02em;
            color: var(--accent-color);
            margin-bottom: 8px;
    
        }

                 .our-goal {
            font-size: 16px;
                font-family: Roboto;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.32px;
                
               



         }
                 
                 .footer-container {
                     flex-direction: column;
                 }


                 .un-soc {
                     display: flex;
                     
                 }

                 
                
                 .paragraph-soc-footer {
                     text-align: center;
                 }
                    
                .paragraph-footer-subscribe{
                    
                    
                    margin-top: 72px;
                }

                .web-header-footer{
                    margin-bottom: 18px;
                    margin-top: 97px;
                }


                .text-paragraph-footer{
                    margin-bottom: 72px;
                }

                .form-footer{
                    
                    flex-direction: column;
                    align-items: center;
                }


                .button-subcribe-footer{
                    display: flex;
                    
                }
             .button-mobile {
                 background: transparent;
                 border: none;
                 padding-top: 24px;
                 padding-bottom: 24px;
             }

.positione-icons {
    display: none;
}

.underlist {
    flex-wrap: wrap;
}


.footer-container {
    flex-direction: column;
}

.un-clients-customers{
    display: flex;
}



.menu-container.closed {
    display: none;
}


.address-points-js {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu {
    list-style: none;

}


.js-adress {
    list-style: none;

    margin-bottom: 100px;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
   .menu-style-positione-address{
    display: flex;
   }
 .menu-toggle {
     border-radius: 24px;
     border: 1px solid #2E2F42;
     opacity: 0.10000000149011612;
     background: #99999c;
     margin-right: 24px;
     margin-top: 24px;
     margin-left: 380px;
 }
 

}

@media (min-width: 768px) {


    .container {
           max-width: 768px;
            padding: 0 15px;
            margin: 0 auto;
        }
        .elements-list {
           
            padding-bottom: 96px;
            display: flex;
            flex-wrap: wrap;
            width: calc((100% - 24px)/2);
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
        .menu-container{
            display: none;
        }

                .all-points {
                   
                    
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.7;
                    letter-spacing: 0.02em;
                    color: var(--accent-color);
                    margin-bottom: 8px;
        
                }

             .our-goal {
                 font-size: 16px;
                 line-height: 1.5;
                 letter-spacing: 0.02em;
                 margin: 0px;
                 width: 264px;
                 
                 
                 width: 100%;   
       }
           .underlist-our-team {
               display: flex;
               flex-wrap: wrap;
               gap: 72px 24px;
               
               padding-left: 0%;
               padding-bottom: 72px;
              ;
    
    
           }

           .menu-style-positione{
            display: flex;
           }

           .button-mobile{
            display: none;
           }
           
                  .text-paragraph-footer {
                      margin-bottom: 72px;
                  }

           .web-header-footer{
            margin-left: 108px;
            margin-top: 98px;
            margin-bottom: 338px;
            padding-bottom: 18px;
           }

           
           .sectione-customers{
            position: fixed;
            
        }

        .address {
  display: flex;
  flex-direction: column;
}

.menu-style-positione {
  display: flex;
  
}
.menu-style-positione-address{
    flex-direction: column;
    gap: 12px;
}
.soc-positione{
    margin-bottom: 336px;
    margin-top: 96px;
    margin-left: 396px;margin-right: 296px;
}
.footer-container{
    flex-wrap: nowrap;
        flex-direction: row;
}t
    .form-footer{
        flex-direction: row;
    }

}

@media (min-width: 1158px) {

    .container{
        max-width: 1158px;
        padding: 0 15px;
            margin: 0 auto;
    }
   
    .elements-list{
        display: flex;
        flex-wrap: wrap;
    width: calc((100% - 24px)/2);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    }

        .all-points {
            text-align: center;
            display: block;
            align-items: center;
            font-weight: 500;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            
            
    
        }

               .our-goal {
                   font-size: 16px;
                   line-height: 1.5;
                   letter-spacing: 0.02em;
                   margin: 0px;
                   width: 264px;
                   height: 72px;
                   margin-bottom: 72px;
                   width: 100%;



                           }



                .underlist-our-team {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;
                    margin-right: 24px;
                    padding-left: 0%;
                    padding-bottom: 72px;
                    
        
        
                }

        .paragraph-footer-subscribe {
                
            margin-left: 100px;
            margin-top: 72px;
        }
               
                .menu-style-positione {
                    display: flex;
        
                }

                .button-mobile{
                    display: none;
                }
        .menu-container{
            display: none;
        }

        .our-advant{
            flex-wrap: nowrap;
        }

             .underlist-our-team{
                flex-wrap: nowrap;
             }

             .menu-style-positione-address{
                flex-direction: row;
                gap: 40px;
             }

             .positione-icons{
                display: flex;
             }
                       
    }



.section-style-what-arer-we-doing{
    display: none;
}

.menu-toggle {
    border-radius: 24px;
    border: 1px solid #2E2F42;
    opacity: 0.10000000149011612;
    background:#99999c;
    margin-right: 24px;
    margin-top: 24px;
    margin-left: 380px;
}
.close-js{
    fill: #2E2F42;
}

.js-adress{
    list-style: none;
    
}
